* {
  box-sizing: border-box;
}

body {
  background: #bbb;
  margin: 2rem;
}

#sidle.slide {
  position: relative;
  width: 45%;
}

#sidle.slide img {
  position: absolute;
  width: 100%;
  border-radius:5px;
}

#sidle.slide img:hover {
  cursor: pointer;
}

#sidle.slide .full:hover {
  cursor: default;
}

#sidle:not(.slide) {
  width: 98%;
  margin: 0 auto;
}

#sidle:not(.slide) img {
  width: 48%;
  display: inline-block;
}

@media all and (max-width: 600px) {
  body {
    margin: 0;
  }

  #sidle.slide {
    width: 100%;
  }

  #sidle.slide img {
    position: static;
    width: 100% !important;
    display: inline-block;
    -webkit-clip-path: none !important;
  }
}
