html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Aral, sans-serif;
}

.fullscreen {
  border: 1px solid #000;
  position: fixed;
  background-color: #282828;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tab-bar {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  background: #393939;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #000;
}
.tab-bar .tab {
  font-size: 12px;
  text-shadow: 0px 1px 1px #000;
  color: #fff;
  background: #535353;
  line-height: 29px;
  padding: 0 10px;
  border-right: 1px solid #000;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
  display: inline-block;
  left: 0;
  top: 0;
}

.scale {
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 3000px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  color: #b1b4b4;
  font-size: 11px;
  text-shadow: 0px 1px 1px #000;
}
.scale li {
  float: left;
  width: 50px;
  text-align: right;
  padding-right: 2px;
}

.ruler {
  position: absolute;
  background-color: #303030;
  background-image: linear-gradient(90deg, #696969 0, #696969 2%, transparent 2%), linear-gradient(180deg, #303030 50%, transparent 50%), linear-gradient(90deg, transparent 50%, #696969 50%, #696969 52%, transparent 52%), linear-gradient(180deg, #303030 70%, transparent 70%), linear-gradient(90deg, transparent 10%, #696969 10%, #696969 12%, transparent 12%, transparent 20%, #696969 20%, #696969 22%, transparent 22%, transparent 30%, #696969 30%, #696969 32%, transparent 32%, transparent 40%, #696969 40%, #696969 42%, transparent 42%, transparent 60%, #696969 60%, #696969 62%, transparent 62%, transparent 70%, #696969 70%, #696969 72%, transparent 72%, transparent 80%, #696969 80%, #696969 82%, transparent 82%, transparent 90%, #696969 90%, #696969 92%, transparent 92%);
  background-size: 50px 30px;
  background-repeat: repeat-x;
  min-height: 30px;
}
.ruler.v {
  left: 0;
  top: 60px;
  transform-origin: 0 0;
  height: 30px;
  width: 100vh;
  background-position: 0 100%;
  transform: rotate(-90deg) translateX(-100%);
  border-bottom: 1px solid #696969;
}
.ruler.h {
  left: 0;
  top: 30px;
  height: 30px;
  width: 100%;
  border-left: 30px solid #535353;
  border-bottom: 1px solid #696969;
  background-position: 0 100%;
  z-index: 2;
}

.ruler.h input[type=range]::-webkit-slider-thumb {
  transform: translateY(59px);
}
.ruler.h input[type=range]::-moz-range-thumb {
  transform: translateY(59px);
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none !important;
  background: transparent;
  outline: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  height: 50px;
  width: 100%;
  display: block;
}
input[type=range]:hover::-webkit-slider-thumb::before, input[type=range]:active::-webkit-slider-thumb::before {
  opacity: 1;
  transform: none;
}
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none !important;
  height: 100%;
  background: transparent;
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  position: relative;
  height: 3000px;
  width: 1px;
  background: #1ee5f7;
  transform: translateY(29px);
}
input[type=range]::-moz-range-track {
  -moz-appearance: none !important;
  height: 100%;
  background: transparent;
}
input[type=range]::-moz-range-thumb {
  -moz-appearance: none !important;
  height: 3000px;
  transform: translateY(29px);
  width: 1px;
  background: #1ee5f7;
  border: 0;
}

.pic {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;
  background: #A1FFCE;
  background: linear-gradient(-30deg, #7b4397, #dc2430);
  transform: translate(-50%, -30%);
  z-index: -1;
}
.pic .explain {
  color: #fff;
  padding: 15% 20%;
  line-height: 1.2;
}