*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #333;
  font-family: sans-serif;
  font-size: 4vmin;
  font-weight: 100;
  line-height: 1;
}

fieldset {
  display: block;
  width: 20vmin;
  height: 20vmin;
  position: relative;
}

input,
label,
.dial {
  position: absolute;
}

label {
  width: 20vmin;
  left: 35vmin;
  white-space: nowrap;
}
label::after {
  content: "";
  width: 8.25vmin;
  height: 0.5vmin;
  margin-right: 1vmin;
  position: absolute;
  top: 1.75vmin;
  right: 100%;
  border-radius: 0.25vmin;
  background-color: #333;
}
label[for=option-1] {
  top: 8vmin;
  left: -35vmin;
  text-align: right;
}
label[for=option-1]::after {
  width: 12vmin;
  left: 100%;
  margin-left: 1vmin;
}
label[for=option-2] {
  top: -8vmin;
}
label[for=option-3] {
  top: 8vmin;
}
label[for=option-3]::after {
  width: 12vmin;
}
label[for=option-4] {
  top: 24vmin;
}
label[for=option-2]::before, label[for=option-4]::before {
  content: "";
  width: 11vmin;
  height: 0.5vmin;
  position: absolute;
  top: 1.75vmin;
  left: -20vmin;
  background-color: #333;
  transform-origin: right center;
}
label[for=option-2]::before {
  transform: rotate(-45deg);
}
label[for=option-4]::before {
  transform: rotate(45deg);
}

.dial {
  width: 20vmin;
  height: 20vmin;
  position: relative;
  z-index: -1;
  border-radius: 50%;
  background-color: #333;
  transition: transform 600ms ease-out;
}
.dial::after {
  content: "";
  width: 8vmin;
  height: 0.5vmin;
  position: absolute;
  top: 9.75vmin;
  left: 1vmin;
  border-radius: 0.25vmin;
  background-color: white;
}

#option-1:checked ~ .dial {
  transform: rotate(0deg);
}

#option-2:checked ~ .dial {
  transform: rotate(135deg);
}

#option-3:checked ~ .dial {
  transform: rotate(180deg);
}

#option-4:checked ~ .dial {
  transform: rotate(225deg);
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input::after {
  content: "";
  display: block;
  width: 0vmin;
  height: 0vmin;
  position: absolute;
  z-index: 1;
}
input:checked + label + input::after {
  width: 20vmin;
  height: 20vmin;
  z-index: 2;
}

#option-1::after {
  width: 20vmin;
  height: 20vmin;
  z-index: 1;
}