body {
  height: 100vh;
  overflow: hidden;
  /* background: palegoldenrod; */
}

.gallery-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.gallery {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 300px;
  perspective: 800px;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: translateY(-50%);
}

.frame {
  display: block;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid white; */
  border-radius: 4px;
  position: relative;
  height: 100%;
  width: 300px;
  background: white;
  transform-style: preserve-3d;
  transform-origin: center center;
  cursor: pointer;
  overflow: hidden;
  background: radial-gradient(#cfaf7f, #6a4a0f);
}
.frame .image {
  /* display: flex; */
  position: relative;
  pointer-events: none;
    width: 200%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  /* filter: grayscale(80%); */
}
/* .frame .info {
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  font-family: "Source Sans Pro", serif;
  font-size: 1.2em;
} */

#codepen-link {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 1%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
  border-radius: 5px;
  /* position: absolute; */
  /* bottom: 20px; */
  /* right: 30px; */
  /* height: 100%;
  width: 100%;
  z-index: 10;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/logo.jpg");
  background-position: center center;
  background-size: cover;
  opacity: 0.4;
  transition: all 0.25s; */
}
#codepen-link:hover {
  /* opacity: 1; */
  width: 100%;
  height: 100%;
  filter: grayscale(0%);
  transform: scale(1.2);
  transition: all 0.5s ease;
}
